@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ---------------------------------------------- Body */

body {
    font-family: "Anton", sans-serif;
}
#body_background {
    background-color: #f9f0c6;
}

/* -------------- Hangman */

#hangman_background {
    background: url("../images/hangman/batman_background.png") no-repeat center;
    background-size: cover;
    justify-content: center;
    position: relative;
}

/* -------------- Quiz */

#quiz-background {
    background-color: #0d0d0d;
    
}

.quiz-body {
    background: url(../images/quiz/question1.png) repeat center;
    background-size: 3em;
}

/* -------------- 404 */

#error-background {
    height: 100vh;
    width: auto;
    background-color: #f9f0c6;
}

/* ---------------------------------------------- Header / Logo */

.dc_logo {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.batman_logo {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.batman-title {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #f9f0c6;
}

.riddler_logo {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.riddler-title {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #93c04e;
}

/* ---------------------------------------------- Index Main Content */

#character-container{
    min-height: 70vh;
    max-width: 850px;
}

.dc_character {
    width: auto;
    height: 50vh;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

/* ---------------------------------------------- Footer */

#footer-content {
    margin-top: 40px;
    display: block;
}

#footer-content a {
    font-size: 20px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}

#batman-footer {
    margin-top: 40px;
    display: block;
    color: #ffffff;
}

#batman-footer a {
    font-size: 20px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

#riddler-footer {
    margin-top: 40px;
    display: block;
    color: #93c04e;
}

#riddler-footer a {
    font-size: 20px;
    color: #a27cb3;
    padding-left: 5px;
    padding-right: 5px;
}


/* ---------------------------------------------- Buttons / Icons */

/* -------------- Index */

.button {
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 130px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container a {
    text-decoration: none;
}

.button:hover {
    transform:scale(1.15);
}

.button:active {
    background-color: #3866ae;
    color: #ffffff;
    border: 1px, solid;
    border-color: #f9f0c6;
    transform:scale(1);
    text-decoration: none;
}

.icons:hover {
    transform:scale(1.2);
}

.icons:active {
    transform:scale(1);
}

/* -------------- Hangman */

.batman-button {
    margin: 0 20px 20px 20px;
    padding: 4px 6px;
    width: 130px;
}

.batman-button:hover {
    transform:scale(1.15);
}

.batman-button:active {
    background-color: yellow;
    border: 1px, solid;
    transform:scale(1);
}

.button-keys {
    width: 40px;
    margin: 5px;
}

.button-keys:active {
    background-color: yellow;
    border: 1px, solid;
    transform:scale(1);
}

.button-keys.active {
    background-color: yellow;
    border: 1px, solid;
    transform:scale(1);
}

/* -------------- Quiz */

.riddler-button {
    background-color: #a27cb3;
    color: #ffffff;
    margin: 0 20px 20px 20px;
    padding: 4px 6px;
    width: 130px;
    border-color: #872cb1;
}

.riddler-button:hover {
    transform:scale(1.15);
}

.riddler-button:active {
    background-color: #93c04e;
    border: 1px, solid;
    transform:scale(1);
    border-color: #76c203;
}

.active {
    background-color: yellow;
}

.start-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #a27cb3;
    color: #ffffff;
    padding: 4px 6px;
    width: 130px;
    border-color: #872cb1;
}

.start-button:hover {
    transform:scale(1.15);
}

.start-button:active {
    background-color: #93c04e;
    border: 1px, solid;
    transform:scale(1);
    border-color: #76c203;
}

/* ------------------------------------- Hangman */

.white-text {
    color: #ffffff;
}

.guesses {
    float: right;
}

#keys {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    color: #ffffff;
}

#guessphrase {
    font-size: 50px;
    color: #ffffff;
}

#gallows {
    height: 300px;
    width: auto;
}

/* ------------------------------------- Quiz */

.game-container {
    height: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.start-btn-container,
.quiz-container,
.result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn-container {
    margin: 30px, auto;
    padding: 20px;
    width: 200px;
    height: 100px;
    background-color: #93c04e;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 2px solid #76c203;
}

.quiz-container.activeQuiz,
.result-container.activeResult {
    opacity: 1;
    z-index: 4;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz-container {
    width: 75vh;
    background-color: #000000;
    border-radius: 5%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* ------------------------------------- 404 */

#robin {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#error-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

#countdowntext {
    margin-bottom: 50px;
}

/* ------------------------------------- Media Queries */

@media screen and (max-width:364px) {
    #media-footer {
        max-width: 290px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .game-button {
        margin: 0 5px 20px 5px;
        padding: 4px 6px;
        width: 130px;
    }
}