@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ---------------------------------------------- Index */

body {
    font-family: "Anton", sans-serif;
}
#body_background {
    background-color: #f9f0c6;

}

#dc_logo {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#character-container{
    min-height: 70vh;
    max-width: 850px;
}

.dc_character {
    max-height: 500px;
    width: auto;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

.button {
    margin-bottom: 40px;
}

#footer-content {
    margin-top: 40px;
    display: block;
}

#footer-content a {
    font-size: 20px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}

/* ------------------------------------- Media Queries */

@media screen and (max-width:364px) {
    #media-footer {
        max-width: 290px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}