@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ---------------------------------------------- Body */

body {
    font-family: "Anton", sans-serif;
}
#body_background {
    background-color: #f9f0c6;
}

.batman-title {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #f9f0c6;
}

#hangman_background {
    background: url("../images/batman-background.png") no-repeat center;
    background-size: cover;
    justify-content: center;
    position: relative;
}

.white-text {
    color: #ffffff;
}

/* ---------------------------------------------- Header / Logo */

.dc_logo {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.batman_logo {
    width: 200px;
    height: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------------- Main Content */

#character-container{
    min-height: 70vh;
    max-width: 850px;
}

.dc_character {
    max-height: 500px;
    width: auto;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

/* ---------------------------------------------- Footer */

#footer-content {
    margin-top: 40px;
    display: block;
}

#footer-content a {
    font-size: 20px;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
}

#batman-footer {
    margin-top: 40px;
    display: block;
    color: #ffffff;
}

#batman-footer a {
    font-size: 20px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

/* ---------------------------------------------- Buttons / Icons */

.button {
    margin-bottom: 40px;
    padding: 4px 6px;
    width: 130px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container a {
    text-decoration: none;
}

.button:hover {
    transform:scale(1.15);
}

.button:active {
    background-color: #3866ae;
    color: #ffffff;
    border: 1px, solid;
    border-color: #f9f0c6;
    transform:scale(1);
    text-decoration: none;
}

.icons:hover {
    transform:scale(1.2);
}

.icons:active {
    transform:scale(1);
}

.game-button {
    margin: 0 20px 20px 20px;
    padding: 4px 6px;
    width: 130px;
}

.game-button:hover {
    transform:scale(1.15);
}

.game-button:active {
    background-color: yellow;
    border: 1px, solid;
    transform:scale(1);
}

/* ------------------------------------- Hangman */

.guesses {
    float: right;
}

/* ------------------------------------- Media Queries */

@media screen and (max-width:364px) {
    #media-footer {
        max-width: 290px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .game-button {
        margin: 0 5px 20px 5px;
        padding: 4px 6px;
        width: 130px;
    }
}